src/com/mrjaffesclass/othello/TestPlayer.java
src/com/mrjaffesclass/othello/TestPlayerCheat.java
build/
dist/
src/com/mrjaffesclass/othello/Read.java
.idea
src/com/mrjaffesclass/othello/InthavongMaldonado.java
src/com/mrjaffesclass/othello/Kleban.java
